version: '3.3'

services:
  timory-api:
   container_name: timory-api
   restart: always
   image: node:20.10.0
   ports:
    - 4001:3003
   volumes:
    - ./:/usr/src/timory
   working_dir: /usr/src/timory
  
   networks:
    - monorepo-network


   # FOR PRODUCTION
   command: bash -c "npm install && npm run build && npm run start:prod"


  timory-batch:
   container_name: timory-batch
   restart: unless-stopped
   image: node:20.10.0
   ports:
    - 4002:3004
   volumes:
    - ./:/usr/src/timory
   working_dir: /usr/src/timory
  
   networks:
    - monorepo-network


   # FOR PRODUCTION
   command: bash -c "npm install && npm run build && npm run start:prod:batch"

networks:
  monorepo-network:
   driver: bridge





# timory-next: localhost: 4000 <=> container:3000
# timory-api: localhost: 4001 <=> container:3003
# timory-batch: localhost: 4002 <=> container:3004